<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
  <sitecore exmEnabled:require="yes" role:require="Standalone or ContentDelivery or Reporting or ContentManagement or Processing or DedicatedDispatch">
    <pipelines>
      <ensureSessionContext>
        <processor resolve="true" type="Sitecore.Support.Modules.EmailCampaign.Core.Pipelines.EnsureSessionContext.LoadEmailRenderSessionContact, Sitecore.Support.214131" x:before="processor[@type='Sitecore.Analytics.Pipelines.EnsureSessionContext.LoadContact, Sitecore.Analytics']" >
          <ContactRepository ref="contactRepository" />
        </processor>
      </ensureSessionContext>
    </pipelines>
    <sites>
      <site name="exm" >
        <patch:attribute name="enableTracking">true</patch:attribute>
      </site>
    </sites>
  </sitecore>
</configuration>